*{
    font-family: cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.header{
    position: fixed;
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
    border-bottom: 1px solid #000;
    box-shadow: 0 2px 5px #000;
    background-color: #ddebfc;
    z-index: 1000;
    opacity: 0.95;
    
}
.anchor {
    display: block;
    position: relative;
    top: -100px; /* Висота меню плюс додатковий відступ */
    visibility: hidden;
  }
  
  h1::before, h2::before, h3::before, h4::before {
    display: block;
    content: " ";
    margin-top: -100px; /* Висота меню плюс додатковий відступ */
    height: 100px;
    visibility: hidden;
  }
.logo__img{
    width: 30%;
    height: 30%;
    margin-left: 45px;
    margin-right: 15px;
    border-radius: 45px;
    opacity: 0.9;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    
} 

.menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center; 
    width: 100%;
    height: 90px;
    font-size: 20px;
    
  }
.menu__list{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.menu__item{
    justify-content: space-between;
    margin-right: 50px;
    color: rgb(58, 58, 58);
    padding: 5px 10px;
}
.menu__item:focus,
.menu__item:hover
{
    color: #064866;
    outline: 0;
    box-shadow:  2px 2px 2px 2px #000;
    border-radius: 2px;
    
}

.main__content{
    text-transform:uppercase;
    text-shadow: #000;
    text-align: center;
    /* margin: 30px; */
    
  }
 

/* CSS */
.start__btn a{
color: #5f95d3;
}
.start__btn {
  align-items: center;
  appearance: none;
  background-color: #ffffff;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  margin-top: 120px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  
}

.start__btn:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.start__btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.start__btn:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


.home__text{
      color: #f5fafc;
      font-size: 25px;
      padding-top:20%;
      margin-bottom:35px;
      
  }
  .about__text{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    display: block;
    position: relative;
    color: black;
    margin: 0;
    height: auto;
    width:100%;
    box-sizing: border-box;
    
}

.about__contacts{
padding: 30px 15px;

}
.about__contacts p{
    line-height: 40px;
}
.about__contacts__container{
    display: inline-flex;
}
.about__text h1{
    margin-bottom: 40px;
}
.about__text::after{
    content: "";
   
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
  }
  .home__text::after{
    content: "";
    background-image: url(../img/home__bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    margin-top: 5.5%;
  
  }
  
  .home__lower{
    margin-top: 60px;
  }
  .about__block{
    padding: 20px 40px;
    max-width: 1400px;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 2px 15px 0px;
    margin: 70px auto;
    text-align: left;

  }

  .about__block img{
    width: 300px;
  }
  .about__block td{
    width: 50%;
    padding: 20px;
  }

  .progress {
    opacity: .9;
}
.progress .skill
{
    font-family: sans-serif;
    line-height: 10px;
    
    font-size: 80%;
    padding: 0;
    margin: 10px 10px 0 0;
    
    text-transform: uppercase;
    box-sizing: border-box;
}
.progress .skill .val {
    float: right;
    font-style: normal;
    margin: 10px 10px 0 0;
}
.progress__bar {
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    
    text-align: center;
    white-space: nowrap;
    background-color: rgb(45, 132, 214);
    
    height: 10px;
}

.progress__bar__wrap{
    background-color: rgb(224, 224, 224);
    display: block;
    height: 10px;
}
.about__me__text h3{
 padding: 0 30px 30px 30px;
 text-align: center;

}
.about__me__text p{
    line-height: 40px;
}

.portfolio__group{
    display: flex;
    margin: 50px;

    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.portfolio__container{
    padding: 10px;
    height: 300px;
    width: 31%;
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.portfolio__container:hover{
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1), 0px 5px 0px 0px rgb(45, 132, 214);
    transform: translateY(-20px);    

}
.portfolio__icon{
    margin: 30px 0; 
    text-align: left;

}
.portfolio__icon img{
    height: 70px;
    width: 70px;

}

.portfolio__item a{
font-size: 25px;
color: rgb(45, 132, 214);
}
.portfolio__item a:visited{
    color: rgb(45, 132, 214);
}
.portfolio__item{
    text-align: left;
    padding-left:20px ;
    font-size: 12px;
}
.title{
    text-align: center;
    margin: 15px;
}
.title hr{
    display: inline-block;
    width: 120px;
    background-color: rgb(45, 132, 214);
    height: 4px;
    border-radius: 5px;
}
.education {
    margin-bottom: 40px;
    text-align: left;
    display: flex;

  }
 
  .education__place {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgb(45, 132, 214);
    margin-bottom: 10px;
  }
  .education__position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 10px;
  }
  .ed__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 100%;
  }
.education__block{
    position: relative;
    margin: 0 35px;
    padding: 0 20px; 
    width: 50%;
    border-left: 3px solid rgb(45, 132, 214);
    
}

.education__block::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -12px;
    top: 0; 
    background: rgb(255, 255, 255);
    border: 3px solid rgb(45, 132, 214);
    
}
.education__block hr{
    width: 170px;
    margin-bottom:15px ;
} 

.work__position {
    padding-bottom:5px;
} 
.period{
    font-size: 12px;
}
  .contact {
    font-size: 120%;
    padding-top: 80px;
    display: block;
    position: relative;
    color: rgb(255, 255, 255);
    margin: 0;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}



.contact__container {
    margin: 0;
    box-sizing: border-box;
    padding:10px;
    color:#ffffff;

}
.contact__info {
    width: 100%;
    margin-top: 20px;
    display: block;
    box-sizing: border-box;
    
}
.info__item {
    float: left;
    width: 25%;
    color: black;
    background-color: white;
    text-align: center;
    height: 185px;
    box-sizing: border-box;
    margin: 0 0 15px 15%;
    border-radius:10px;
}
.info__item img{
    padding: 15px;
    margin-top: 15px;
    height: 100px;
}
form {
    background-color: #ffffff;
    padding: 10px 20px;
    width: 75%;
    margin: 10px 12.5% 10px 12.5%;
    font-size: 70%;
    font-family: sans-serif;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 3px 5px #000;
}

.hidden__label {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
}


input[name="nam"],
input[name="email"] {
    width: 49%;
    height: 40px;
    float:left;
    margin-top:10px;
}
    input[name="nam"]{
        margin-right:2%;
    }
    input[name="subject"],
    input[name="message"] {
        width: 100%;
        height: 40px;
    }
input[name="message"] {
    height: 110px;
}
input[name="nam"], input[name="email"], input[name="subject"], input[name="message"] {
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #cdcdcd;
    outline: none;
}

        input[name="nam"]:focus,
        input[name="email"]:focus,
        input[name="subject"]:focus,
        input[name="message"]:focus {
            border: 1px solid #6bb0df;
            box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
        }

input[type="submit"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: #b8d3f5;
    color: #fff;
    padding: 10px 0;
    border: 1px solid #b8d3f5;
    border-radius: 3px;
    outline: none;
   margin: 10px 0 ; 
}

    input[type="submit"]:hover,
    input[type="submit"]:focus {
        border: 1px solid rgb(45, 132, 214);
        background-color: rgb(45, 132, 214);
    }
.footer{
    background-color: #85b8e7;
    text-align: center;
    color: #3d3d3d;

}



  @media (max-width: 950px) {
    /* Menu settings */  
    .header{
        height: 60px;
        width: 100%;            
    }
    .logo{
        max-width: 70px;
    }
    .logo__img{
        width: 50px;
        height: 50px;
        margin: 0 5px;
    }
    .menu {
        font-size: 14px;
        max-width: 600px;
    }
    .menu__item{         
        margin-right: 10px;
        padding: 5px;
    }

    /* Home settings */
    .home__text{
        margin: 0 auto;
        padding-top: 130px;
        font-size:15px;
        margin-bottom: 25px;
        width: 100%;            
    }
    .home__text::after{
        height: 500px;
        margin: 0;
        z-index: -100;            
    }
    .home__lower{
        margin-top: 70px;
    }
    .home__text h1{
        font-size: 35px;
    }
    .start__btn{
        height: 30px;
        font-size: 14px;
        margin-top: 70px;
    }

    /* About settings */        
    .about__block{
        width: 90%;
        margin: 0 auto;
        padding: 15px;            
    }
    .about__text{
        z-index: -100;
        width: 100%; 
        padding-top: 100px;        
    }
    .about__contacts{
        padding: 15px ;
    }
    .about__contacts p {
        line-height: 30px;
    }
    .about__contacts__container{
        line-height: 20px;
        height: 250px;
        margin-top: 0 auto;
        width: 600px;
    }
    .about__contacts__container img{
        height: 200px;
        width: 200px;
        margin-top: 0;
    }
    .about__me__text{
        width: 600px;
        text-align: center;
    }
    .about__me__text p {
        line-height: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        max-height: 700px;
        text-align: left;
        font-size: 10px;
    }
    .title h2{
        margin: 15px;
        padding: 5px;
        font-size: 20px;
        text-align: center;
    }

    /* Education settings */
    .education__group,
    .portfolio__text{
        z-index: -100;
        width: 100%
    }
    .education__block{
        margin: 50px 0 0 20px;
        padding: 20px;
        width: 550px;
        text-align: left;
        font-size: 12px;
    }           
    .education{
        display: block;
        width: 100%;            
    }
    .education__block span {
        font-size: 14px;
    }
    .education__block p {
        font-size: 14px;
    }
    .education__block h4 {
        font-size: 16px;
    }

    /* Portfolio settings */
    .portfolio__group{
        display: block;
        width: 100%;
        font-size: 12px;
        margin: 0 auto;
    }
    .portfolio__container{
        height: 300px;
        padding: 5px;
        margin-left: 23%;
        margin-top: 30px;
        width: 500px;
    }
    .portfolio__container a{
        font-size: 14px;                
    }
    .portfolio__icon img{
        height: 50px;
        width: 50px;
    }

    /* Contact settings */
    .contact__container{
        margin-left:20%;
    }
    .group{
        width: 600px;
        margin: 10px 20px;
        padding: 5px;
    }
    
    .contact__group,
    .contact__info{
        width: 500px;
        margin: 0;
        padding: 0;
        margin-left: 5%;

    }
    .info__item {
        font-size: 12px;
        height: 100px;
        margin-left: 100px;
        margin-top: 10PX;
    }
    .info__item img{
        height: 80px;
        width: 80px;
        margin-top: 0;
    }



    /* --------------------------------- */
    .skills__group{
        margin: auto;
        padding: 0;
        width: 160%;
        text-align: left;
    }
    

    table {
        width: 100%;
        border-collapse: collapse;
        max-height: 700px;
        text-align: left;
        font-size: 10px;
    }
    .about__contacts__container img{
        height: 200px;
        width: 200px;
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        display: none;
    }
    tr {
        margin-bottom: 15px;
    }
    td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        margin: 0;
    }
    td:before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: calc(50% - 10px);
        padding-right: 10px;
        text-align: left;
        font-weight: bold;   
    }
       
    }

    @media (max-width: 767.99px) {
        /* Menu settings */  
        .header{
            height: 60px;
            width: 100%;            
        }
        .logo{
            max-width: 70px;
        }
        .logo__img{
            width: 50px;
            height: 50px;
            margin: 0 5px;
        }
        .menu {
            font-size: 13px;
            max-width: 400px;
        }
        .menu__item{            
            margin-right: 10px;
            padding: 5px;
        }
        /* Home settings */
        .home__text{
            margin: 0 auto;
            padding-top: 100px;
            font-size:15px;
            margin-bottom: 15px;
            width: 100%;            
        }
        .home__text::after{
            height: 410px;
            margin: 0;
            z-index: -100;            
        }
        .home__lower{
            margin-top: 40px;
        }
        .home__text h1{
            font-size: 25px;
        }
        .start__btn{
            height: 30px;
            font-size: 14px;
            margin-top: 50px;
        }

        /* About settings */        
        .about__block{
            width: 90%;
            margin: 0 auto;
            padding: 15px;            
        }
        .about__text{
            z-index: -100;
            width: 100%;         
        }
        .about__contacts{
            padding: 5px ;
        }
        .about__contacts p {
            line-height: 20px;
        }
        .about__contacts__container{
            line-height: 10px;
            height: 160px;
            margin-top: 0 auto;
        }
        .about__contacts__container img{
            height: 170px;
            width: 170px;
            margin-top: 0;
        }
        .about__me__text{
            width: 400px;
            text-align: center;
        }
        .about__me__text p {
            line-height: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            max-height: 700px;
            text-align: left;
            font-size: 10px;
        }
        .title h2{
            margin: 5px;
            padding: 5px;
            font-size: 15px;
            text-align: center;
        }

        /* Education settings */
        .education__group,
        .portfolio__text{
            z-index: -100;
            width: 100%
        }
        .education__block{
            margin: 50px 0 0 20px;
            padding: 10px;
            width: 350px;
            text-align: left;
            font-size: 10px;
        }           
        .education{
            display: block;
            width: 100%;            
        }
        .education__block span {
            font-size: 12px;
        }
        .education__block p {
            font-size: 12px;
        }
        .education__block h4 {
            font-size: 14px;
        }

        /* Portfolio settings */
        .portfolio__group{
            display: block;
            width: 100%;
            font-size: 10px;
            margin: 0 auto;
        }
        .portfolio__container{
            height: 260px;
            padding: 5px;
            margin-left: 5%;
            margin-top: 30px;
            width: 400px;
        }
        .portfolio__container a{
            font-size: 14px;                
        }
        .portfolio__icon img{
            height: 40px;
            width: 40px;
        }

        /* Contact settings */
        .contact__container{
            margin-left: 5px;
        }
        .group{
            width: 350px;
            margin: 10px 20px;
            padding: 5px;
        }
        
        .contact__group,
        .contact__info{
            width: 400px;
            margin: 0;
            padding: 0;
            margin-left: 5%;
    
        }
        .info__item {
            font-size: 10px;
            height: 100px;
            margin-left: 35px;
            margin-top: 10PX;
        }
        .info__item img{
            height: 80px;
            width: 80px;
            margin-top: 0;
        }

    }
    

    @media (max-width: 424.98px) {
        /* Menu settings */
        .header{
            height: 60px;          
        }
        .logo{
            max-width: 60px;
        }
        .logo__img{
            width: 50px;
            height: 50px;
            margin: 0 5px;
        }
        .menu {
            font-size: 12px;
            max-width: 320px;
          }
        .menu__item{
            margin-left: 15px;
            padding: 5px;
        }


        /* Home settings */
        .home__text{
            margin: 0 auto;
            padding-top: 100px;
            font-size:12px;
            margin-bottom: 15px;
            width: 100%;            
        }
        .home__text::after{
            height: 410px;
            margin: 0;
            z-index: -100;      
          }
        .home__text h1{
            font-size: 20px;
        }
        .start__btn{
            height: 30px;
            font-size: 14px;
            margin-top: 30px;
        }

        /* About settings */
        .about__contacts{
            padding: 5px ;
        }
        .about__contacts p {
            line-height: 25px;
        }
        .about__contacts__container{
            line-height: 10px;
            height: 150px;
            width: 350px;
        }
        .about__contacts__container img{
            height: 120px;
            width: 120px;
        }
        .about__me__text{
            width: 270px;
            text-align: center;
        }
        table {
            font-size: 8px;            
        }
        
        /* Education settings */
        .education__block{
            width: 330px;
            font-size: 10px;
        }
        .education__block span {
            font-size: 10px;
        }
        .education__block p {
            font-size: 10px;
        }
        .education__block h4 {
            font-size: 11px;
        }


        /* Portfolio settings */
        .portfolio__group{
            margin-left: 0 auto;  
        }
        .portfolio__container{
            height: 260px;
            padding: 5px;
            margin-left: 6%;
            margin-top: 30px;
            width: 320px;
        }

        /* Contact settings */
        .group{
            width: 300px;
        }
        .contact__group,
        .contact__info{
            width: 350px;
            margin-left: 20px;
    
        }
        .info__item img{
            height: 60px;
            width: 60px;
        }
}
